<div>
  <br>

  <div>
    <h3>Завдання 1.</h3>
    <a href=http://datalog.store/ex1" target="_blank">Посилання на відповідь.</a>
  </div>

  <div>
    <h3>Завдання 2.</h3>
    <a href="http://datalog.store/ex2" target="_blank">Посилання на відповідь.</a>

  </div>

  <div>
    <h3>Завдання 3.</h3>
    <a href="http://datalog.store/ex3" target="_blank">Посилання на відповідь.</a>
  </div>

  <div>
    <h3>Завдання 4.</h3>
    <a href="http://datalog.store/ex4" target="_blank">Посилання на відповідь.</a>
  </div>

  <div>
    <h3>Завдання 5.</h3>
    <a href="http://datalog.store/ex5" target="_blank">Посилання на відповідь.</a>

  </div>

  <div>
    <h3>Завдання 6.</h3>
    <a href="http://datalog.store/ex6" target="_blank">Посилання на відповідь.</a>
  </div>

  <br>

  <p><strong>Info:</strong></p>

  <a href="https://github.com/VitaliiOrel/astra211.git" target="_blank">Репозиторій з кодом.</a>

</div>